<div class="container">
  <div class="alart">
    <% if @user.errors.any? %>
      <strong><%= @user.errors.count %> errors prohibited this obj from being saved:</strong>
        <ul class="errors-message">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="row m-3">
    <div class="col-6 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <p>Name<p>
        <%= f.text_field :name, autofocus: true %>
        <p>Image</p>
        <%= f.file_field :profile_image, accept: "image/*" %>
        <p>Introduction</p>
        <%= f.text_area :introduction, autofocus: true %><br>
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>