    <div class="col-md-3">
      <h2>User info</h2>
        <div class="flex-column">
        <span class="row"><%= image_tag user_info.get_profile_image(100,100) %></span>
          <span class="row border-top border-bottom">
            <div class="col mx-1"><strong>name</strong></div>
            <div class="col mx-1"><strong><%= user_info.name %></strong></div>
          </span>
          <span class="row border-top">
            <div class="col mx-1"><strong>introduction</strong></div>
            <div class="col mx-1"><strong><%= user_info.introduction %></strong></div>
          </span>
        </div>
        <%= link_to edit_user_path(user_info.id), class: "btn btn-block btn-outline-secondary my-3" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>

      <h3>New book</h3>
        <%= form_with model: book_new do |f| %>
          <p>title</p>
          <%= f.text_field :title %>
          <p>opinion</p>
          <%= f.text_area :body %><br>
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        <% end %>
    </div>

    <div class="offset-md-1"></div>