
    <div class="col-md-3">
      <h2>User info</h2>
          <div><%= image_tag @user_in.get_profile_image(100,100) %></div>
          <div><strong>name <%= @user_in.name %></strong></div>
          <div><strong>introduction <%= @user_in.introduction %></strong></div>
          <div class="btn w-40 btn-block btn-info mt-2">
            <i class="fa-solid fa-user-gear"><%= edit_user_registration_path(@user) %></i>
          </div>

      <h3>New book</h3>
        <%= form_with model: @book_new do |f| %>
          <p>title</p>
          <%= f.text_field :title %>
          <p>opinion</p>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book', class: "btn btn-block btn-info" %>
        <% end %>
    </div>

    <div class="offset-md-1"></div>