<div class="container">
  <div class="row">
    <%= render 'list', books: '@books' %>
    <div class="col-md-8">
　　  <h2>Book detail</h2>
        <table>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(100,100) %><%= link_to @book.user.name, "/users/#{@book.user_id}" %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(params[:id]), class: "btn btn-block btn-info" %></td>
              <td><%= link_to "Destroy", book_path(params[:id]), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-block btn-info" %></td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>