<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/da605d77f9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span class="navbar-brand"><%= link_to "Bookers", root_path %></span>

          <div class="collapse navbar-collapse" >
            <% if user_signed_in? %>
              <ul class="list-unstyled nabvar-nav ml-auto">
              <li>
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house"></i>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <i class="fa-solid fa-users"></i>
                <% end %>
              </li>
              <li>
                <%= link_to books_path do %>
                  <i class="fa-solid fa-book-open"></i>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to about_path do %>
                  <i class="fa-solid fa-link"></i>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus"></i>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                <% end %>
              </li>
              </ul>
            <% end %>
          </div>
        </nav>
        </div>
      </nav>
    </header>

    <main>
      <div class="flash-message">
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
    <footer class="mt-auto text-center fixed-bottom">
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
